<div class="span12">
	<div class="group">
		<%= link_to("Edit", edit_group_path(@group) , :class => "btn btn-mini btn-pri\
mary pull-right" ) %>
	</div>
	<h2> <%= @group.title %> </h2>
	<p> <%= @group.description %> </p>
	</div>

	<table class="table">
	<tbody>
	<% @posts.each do |post| %>
		<tr>
			<td> <%= post.content %> </td>
			<td> <%= link_to("Edit", edit_group_post_path(post.group, post), :class => "btn btn-mini")%>
				<%= link_to("Delete", group_post_path(post.group, post), :class => "btn b\
					tn-mini", :method => :delete, :confirm => "Are you sure?" ) %> </td>
		</tr>
	<% end %>
</tbody>
</table>
</div>
	

