<div class="span12">
2
3
<table class="table">
4
5
6
<thead>
<tr>
7
8
9
10
11
12
<td> Content </td>
<td> Group name </td>
<td> Last Update </td>
</tr>
</thead>
13
14
15
16
17
<tbody>
	<% @posts.each do |post| %>
	<tr>
	<td>
	<p>
	<%= post.content %>
	</p>
	</td>
	<td>
	<%= post.group.title %>
	</td>
	<td> <%= post.updated_at %> </td>
	<td> <%= link_to("Edit", edit_group_post_path(post.group, post), :class => "btn btn-mini")%>
	<%= link_to("Delete", group_post_path(post.group, post), :class => "btn btn-mini", :method => :delete, :confirm => "Are you sure?" ) %> </td>
	</tr>
	<% end %>
	</tbody>
	</table>
</div>

